.user-info__routes-list {
    padding: 15px 0;
    margin: 15px 0;
    list-style-type: none;
    display: flex;
    align-items: center;   
    gap: 10px;
    border-bottom: 1px solid #C5C4CF;
}

.user-info__routes-list li {
    border: 1px solid transparent;
    border-radius: 10px;
}

.user-info__routes-list li.active {
    border-color: #C5C4CF;
}

.user-info__routes-list li.active a {
    color: #000000;
    font-weight: 600;
}

.user-info__routes-list li a {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: #535260;
    padding: 10px;
    display: block;
}

.user-info__routes-list li:hover {
    background-color: #FFF;
}
