.content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    width: 100%;
}

.content-header__title {
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    margin: 0;
}

.content-header__upload {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-right: 20px;
    border-radius: 10px;
    border: 1px solid #C5C4CF;
    background-color: transparent;
    gap: 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-align: center;
    background-color: #fff;
}

.content-header__upload:hover {
    background-color: #F8F7FA;
}

.content-header__remove {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-right: 20px;
    border-radius: 10px;
    color: #535260;
    border: 1px solid #C5C4CF;
    background-color: transparent;
    gap: 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-align: center;
    background-color: #fff;
}

.content-header__remove:hover {
    background-color: #F8F7FA;
}

.content-header__upload.selected {
    border-color: #2196F3;
    background-color: #2196F3;
    color: #fff;
}

.content-header__upload.selected:hover {
    border-color: #42A5F5;
    background-color: #42A5F5;
    color: #fff;
}

.content-header__upload.selected img {
    filter: contrast(0%) brightness(2);

}

.content-filter {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content-filter__item {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 10px;
    border: 1px solid #C5C4CF;
    width: 240px;
}

.content-filter__item p {
    margin: 0;
    font-size: 14px;
    line-height: 1;
    text-align: center;
}

.content-filter__item input {
    height: 40px;
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    padding-right: 10px;
}

.content-filter__item input::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.content-filter__image-wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.content-filter__item img.to-bottom {
    width: 8px;
    height: 5px;
}

.content-filter__item .to-bottom {
    margin-left: auto;
}

.content-filter__item.switch {
    padding: 0;
    width: 160px;
}

.content-filter__item .on,
.content-filter__item .off {
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    height: 40px;
    background-color: transparent;
}

.content-filter__item .on p {
    margin-left: 10px;
}

.content-filter__item .on {
    width: 70%;
}

.content-filter__item .off {
    width: 30%;
    border-left: 1px solid #C5C4CF;
}

.content-filter__item.sort button,
.content-filter__item.hide button {
    padding: 5px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
}

.content-filter__item.sort,
.content-filter__item.hide {
    border-color: transparent;
    width: 140px;
}

.content-filter__item.sort {
    width: 130px;
}

.content-filter__item.hide {
    width: 90px;
}

.content-filter__item .select-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.content-filter__item .options-wrapper {
    position: absolute;
    top: 110%;
    left: 0;
    display: none;
    flex-direction: column;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    z-index: 1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.content-filter__item .selected-option {
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.content-filter__item .save-date-btn {
    border: none;
    padding: 5px;
    width: 100px;
    background-color: dodgerblue;
    color: white;
}

.content-filter__item .selected-option span {
    display: block;
    width: 100%;
    text-align: left;
}

.content-filter__item .selected-option option {
    display: block;
}

.content-filter__item .select__option {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #535260;
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    width: 100%;
}

.content-filter__item .select__option.date {
    padding: 0;
}

.content-filter__item .date-input {
    width: 100%;
    padding: 8px;
    border: none;
    font-size: 14px;
}

.content-filter__item .select__option:hover {
    background-color: #F8F7FA;
}