.header {
    width: 100%;
    max-width: 1920px;
    padding: 10px;
    background-color: #201E2E;
    display: flex;
    align-items: center;
}

.header__logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 220px;
    margin-left: 10px;
}

.header__logo {
    width: 26px;
    height: 36px;
    display: block;
}

.header__title {
   font-family: Headlines/H6;
   width: 180px;
   font-size: 14px;
   height: 20px;
   color: white;
}

.header__search-wrapper {
    width: 480px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #383645;
    display: flex;
    align-items: center;
}

.header__search-wrapper .search-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    opacity: 0.5;
}

.header__search-wrapper .search-input {
    background-color: transparent;
    width: 100%;
    border: none;
}

.header__info-wrapper {
    margin-right: 10px;
}
.header__info-wrapper .info-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.info-list__item {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.info-list__item:hover {
    background-color: #383645;
}

.info-list__item-button {
  border: none;
  background-color: transparent;
  padding: 10px;
  margin: 0;
  width: 40px;
  height: 40px;
}

.info-list__item-badge {
  position: absolute;
  bottom: 0;
  right: 0;
}
  
  .header__create {
    width: 100px;
    height: 40px;
    min-width: 40px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #4CAF50;
    color: #fff;
    margin-right: 10px;
    margin-left: 10px;
  }

  .header__account-wrapper {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  .account-name {
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: white;
    margin-right: 10px;
  }

  .account-logo {
    margin-left: 5px;
    margin-right: 5px;
  }