.menu {
    width: 210px;
    background-color: #201E2E;
    color: white;
    padding: 10px 0;
    height: calc(100vh - 66px);
    border-top: 1px solid #383645;
    transition: width 0.3s ease;
}

.menu__list {
    padding: 0;
    margin: 0;
    padding-top: 5px;
    list-style-type: none;
    padding-bottom: 10px;
}

.menu__list:not(:first-child) {
    padding-top: 10px;
    border-top: 1px solid #383645;
  }

.menu__list-item {
    padding: 0 10px;
    position: relative;    
}

.menu__list-item-link {
    display: flex;
    align-items: center;
    padding: 12px 10px;
    border-radius: 10px;
    color: white;
    opacity: 50%;
    text-decoration: none;
}

.menu__list-item:hover .menu__list-item-link {
    background-color: #383645;
    opacity: 1;
}

.menu__list-item.active .menu__list-item-link {
    opacity: 1;
}

.menu__list-item.active img {
    filter: invert(64%) sepia(97%) saturate(625%) hue-rotate(357deg) brightness(103%) contrast(104%);
}

.menu__list-item.active .item-right-border {
    display: block;
}

.menu__list-item img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.menu__list-item p{
    padding: 0;
    margin: 0;
    margin-left: 10px;
    width: 100%;
    font-family: Labels/Label S;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    white-space: nowrap;
}

.menu__list-item-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
}

.item-right-border {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    height: 25px;
    background: #FEB435;
    border-radius: 5px;
    display: none;
}

.menu__toggle-button {
    background-color: transparent;
    border: none;
    outline: hidden;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 210px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    transition: width ease 0.3s;
    z-index: 1;
}

.menu__toggle-button:hover {
    background-color: #383645;
}

.menu__toggle-button img {
    margin-right: 20px;
}

.menu__toggle-button p {
    margin: 0;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    opacity: 0.5;
}

.menu.close {
    width: 60px;
}

.menu.close .menu__list-item p {
    display: none;
}

/* .menu.close .menu__list-item img {
    margin: 0;
    padding: 0;
} */

.menu.close .menu__list-item .menu__list-item-badge {
    bottom: 3px;
    right: 3px;
}

.menu.close .menu__toggle-button {
    width: 60px;
}

.menu.close .menu__toggle-button img {
    transform: rotateY(180deg);
}

.menu.close .menu__toggle-button p {
    display: none;
}
