.companies__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.companies__title {
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    margin: 0;
}

.companies__operations {
    display: flex;
    align-items: center;
    gap: 9px;
}

.companies__operations button {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    border: 1px solid transparent;
    border-radius: 10px;   
    background-color: transparent; 
}

.companies__operations button.archive {
    padding: 10px 20px;
    border-color: #C5C4CF;
    color: #535260;
}

.companies__operations button.add {
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 13px;
    border-color: #C5C4CF;
    color: #535260;
    color: white;
    background-color: #2196F3;
    gap: 10px;
}

.companies__list {
    padding: 0;
    padding-top: 10px;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

.companies__list-item {
    width: 530px;
    height: 316px;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px;
}

.companies__list-item .title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.companies-item__list {
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
    margin-bottom: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.companies-item__list li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.companies-item__list li .companies-item__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

.companies-item__operations {
    display: flex;
    align-items: center;
    gap: 10px;
}

.companies-item__operations button {
    border: 1px solid #C5C4CF;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 10px 20px;
    color: #535260;
}