.filter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filters {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 10px;
}

.filter-option {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    color: #8C8B98;
}

.default-option {
    display: flex;
    align-items: center;
    gap: 10px;
}

.default-option a, .filter-option a {
    text-decoration: none;
    color: #8C8B98;
}

.default-option .seperator-border {
    width: 2px;
    height: 20px;
    border: 1px 0px 0px 0px;
    background-color: #C5C4CF;
}

.filter-option.selected {
    border-color: #C5C4CF;
    color: #000000;
}

.filter-option.selected a {
    border-color: #C5C4CF;
    color: #000000;
}

.filter-option:hover {
    color: #000000;
}

.filter-option__text {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}

.filter-option__remove-button {
    padding: 2px;
    border: none;
    background-color: transparent;
    outline: none;
} 

.remove-tag {
    line-height: 1;
}