.table-container {
    padding: 10px 0;
    margin-top: 10px;
}

.table-wrapper {
    border: 1px solid #C5C4CF;
    width: 100%;
    max-width: 1650px;
    border-radius: 10px;
    background-color: #fff;
    overflow-x: scroll;
}

table {
    border-radius: 10px;
    border-collapse: collapse;
}

tr {
    border-bottom: 1pt solid #E1E0EB;
}

th {
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: #8C8B98;
}

td {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #000000;
}

th, td {
    padding: 20px 5px;
    white-space: nowrap;
    text-align: left;
    background-color: #fff;
}

th.checkbox, td.checkbox {
    padding: 0;
    min-width: 60px;
    text-align: center;
}

.checkbox-data {
    position: relative;
}

th .checkbox-input, .checkbox-data .checkbox-input, .checkbox-data .checkbox-input {
    width: 16px;
    height: 16px;
}

.checkbox-span-border {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    min-width: 5px;
    height: 50px;
    background-color: #C5C4CF;
    border-radius: 5px;
}

.checkbox-span-border.active {
    background-color: #F57F17;
}

.checkbox-span-border.completed {
    background-color: #43A047;
}

.checkbox-span-border.canceled {
    background-color: #B71C1C;
}

.checkbox-span-border.planned {
    background-color: #C5C4CF;
}

.td-status {
    padding: 5px;
    border-radius: 8px;
    font-family: Inter;
    font-size: 13px;
    line-height: 19.5px;
    text-align: center;
}

.td-status.active {
    background-color: #FFFCDB;
    color: #F57F17;
}

.td-status.completed {
    background-color: #F4FAF5;
    color: #43A047;
}

.td-status.canceled {
    background-color: #FFF0F2;
    color: #B71C1C;
}

.td-status.planned {
    background-color: #F8F7FA;
    color: #535260;
}

th.th-filter {
    padding: 10px 5px;
}

.th-filter-data {
    position: relative;
}

.th-filter-data .search-image {
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
}

.th-filter-data .select-image {
    position: absolute;
    right: 10px;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
}

.th-filter-data span {
    display: block;
}

.th-filter-data__input {
    padding: 10px 5px 10px 25px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.th-filter-data__input::placeholder {
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
}

.th-filter-data__input:focus {
    background-color: #F8F7FA;
}

.th-filter-data.status {
    /* display: flex;
    align-items: center; */
}

.th-filter-data.status .status-image {
    position: absolute;
    right: 10px !important;
    top: 50%;
    transform: translateY(-50%);
}

.th-filter-data__select {
    border: none;
    border-radius: 10px;
    background-color: transparent;
    padding: 10px 0;
    -webkit-appearance: none; /* For Safari and Chrome */
    -moz-appearance: none; /* For Firefox */
    outline: none;
}

.td-data-badge {
    position: relative;
    display: inline-block;
}

.td-data-badge .badge {
    display: inline-block;
}

.td-data-badge .td-badge {
    position: absolute;
    right: 0;
    top: -5px;
    line-height: 1;
    right: -20px;
    text-align: center;
    justify-items: center;
}