.table-container {
    padding: 10px 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.table-wrapper {
    border: 1px solid #C5C4CF;
    width: 100%;
    max-width: 1650px;
    border-radius: 10px;
    background-color: #fff;
    overflow-x: scroll;
}

table {
    border-radius: 10px;
    border-collapse: collapse;
    width: 100%;
}

tr {
    border-bottom: 1pt solid #E1E0EB;
}

th {
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: #8C8B98;
    padding: 20px 5px;
}

th.directions, th.product {
    min-width: 360px;
} 

th.date {
    min-width: 170px;
}

td {
    padding: 0;
}

th, td {
    white-space: nowrap;
    text-align: left;
    background-color: #fff;
}

th.checkbox {
    min-width: 60px;
    height: 60px;
    text-align: center;
    justify-content: center;
}

.checkbox-input {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border: 1px solid #C5C4CF;
}

th.th-filter {
    padding: 0;
}

.th-filter-data {
    position: relative;
}

.th-filter-data .search-image {
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
}

.th-filter-data .select-image {
    position: absolute;
    right: 10px;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
}

.th-filter-data span {
    display: block;
}

.th-filter-data__input {
    padding: 10px 5px 10px 25px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.th-filter-data__input::placeholder {
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
}

.th-filter-data__input:focus {
    background-color: #F8F7FA;
}

.th-filter-data {
    padding: 10px 10px 10px 5px;
    height: 60px;
    display: flex;
    align-items: center;
}

.th-filter-data.date input {
    padding-left: 0;
    width: 120px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
.th-filter-data.date button {
    padding: 2px;
    border: none;
    background-color: transparent;
    display: none;
}

.th-filter-data.select {
    padding: 0 10px 0 5px;
}

.th-select-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
  
}

.th-select {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    flex-direction: column;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    width: 140px;
    z-index: 1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.th-selected-option {
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.th-selected-option option {
    display: block;
}

.th-select__option {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #535260;
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
}

.th-select__option:hover {
    background-color: #F8F7FA;
}


.td-data {
    position: relative;
    padding: 20px 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #000000;
    max-width: 360px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.td-data.checkbox {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox-span-border {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    min-width: 5px;
    height: 50px;
    background-color: #C5C4CF;
    border-radius: 5px;
}

.checkbox-span-border.active {
    background-color: #F57F17;
}

.checkbox-span-border.completed {
    background-color: #43A047;
}

.checkbox-span-border.canceled {
    background-color: #B71C1C;
}

.checkbox-span-border.planned {
    background-color: #C5C4CF;
}

.td-data .status {
    padding: 0 5px;
    border-radius: 5px;
}

.td-data .status.active {
    background-color: #FFFCDB;
    color: #F57F17;
}

.td-data .status.completed {
    background-color: #F4FAF5;
    color: #43A047;
}

.td-data .status.task-completed {
    background-color: #4CAF50;
    color: #fff;
}

.td-data .status.canceled {
    background-color: #FFF0F2;
    color: #B71C1C;
}

.td-data .status.planned {
    background-color: #F8F7FA;
    color: #535260;
}

.td-data .status.working {
    background-color: #F1F8FE;
    color: #2196F3;
}

.td-data .status.open {
    background-color: #E1E0EB;
    color: #535260;
}

.td-data .status.waiting {
    background-color: #F4FAF5;
    color: #43A047;
}

.td-data .td-data__link {
    text-decoration: none;
    color: #000000;
}

.td-data .text {
    margin: 0;
    max-width: 360px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* for span inside p class=text */
.td-data .text .bold {
    font-weight: 600;
}

.td-data .text.bold {
    font-weight: 600;
}

.td-data .text.success {
    font-weight: 600;
    color: #43A047;
}

.td-data .text.danger {
    font-weight: 600;
    color: #B71C1C;
}

.td-data .text.task-canceled {
    text-decoration: line-through;
    color: #535260;
}

/* sibling to .text  */
.td-data .sub-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: 10;
}

.td-data .route-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 6px;
}

.td-data .route-list li {
    display: flex;
    align-items: center;
    gap: 5px;
}

.td-data .route-list .route-list-text {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #2196F3;
}

.td-data .route-list .route-list-button {
    padding: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.td-data .inner {
    display: flex;
    align-items: center;
    gap: 7px;
}

.td-data .count {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #8C8B98;
}

.td-data .read-more, .td-data .orders-count, .copy {
    padding: 3px;
    color: #2196F3;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.copy {
    border-bottom: 1px solid #2196F3;
    padding-bottom: 0;
}

.td-data .read-more img {
    margin-bottom: 2px;
}

.td-data-badge {
    position: relative;
    display: inline-block;
}

.td-data-badge .td-badge {
    position: absolute;
    right: -30px;
    top: -10px;
    line-height: 1;
    text-align: center;
    justify-items: center;
    z-index: 10;
}

.td-data .priority-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.td-data .priority-button.red {
    background-color: #FFF0F2;
}

.td-data .priority-button.blue {
    background-color: #F1F8FE;
}

.td-data.account {
    display: flex;
    align-items: center;
    gap: 10px;
}

.td-data.accounts {
    display: flex;
    align-items: center;
}

.td-data.accounts img:not(:nth-child(1)) {
    width: 30px; /* Adjust size */
    height: 30px;
    border-radius: 50%; /* Makes the image circular */
    border: 2px solid white; /* Optional: Adds a white border around the image */
    margin-left: -15px; /* Overlapping effect */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); /* Optional: Adds a subtle shadow */
  }

  tr.open td {
    background-color: #E1E0EB;
  }